h2 Watch

table
  tr
    td item_token
    td= item.item_token
  tr
    td file_token
    td= item.file_token
  tr
    td created_at
    td= item.created_at
  tr
    td completed_at
    td= item.completed_at
